<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
    <script src="built-in-filters.js"></script>
</head>
<body>

<div ng-app="app">

<div ng-controller="AvengersCtrl">
	<input type="text" ng-model="search.name">
	<table>
		<thead>
			<th>Name</th>
			<th>Character</th>
		</thead>
		<tbody>
			<!-- <tr ng-repeat="role in avengers.cast | limitTo:3 | orderBy:'-name' | filter:search "> -->
			<tr ng-repeat="role in avengers.cast | filter:search">
				<td>{{role.name | lowercase }}</td>
				<td>{{role.character | uppercase }}</td>
			</tr>
		</tbody>
	</table>
</div>
	
</div>
    
</body>
</html>